<!--<nz-header>
  <div class="logo"></div>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
    <li nz-menu-item>nav 1</li>
    <li nz-menu-item nzSelected>nav 2</li>
    <li nz-menu-item>nav 3</li>
  </ul>
</nz-header>-->

<nz-header>
  <div nz-row>
    <div nz-col nzSpan="1" class="logo"></div>
    <div nz-col nzSpan="3"><h1 style="color: #ffffff">NGULAR</h1></div>
    <div nz-col nzSpan="auto">
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item><h3><a style="color: #ffffff"[routerLink]="['/']" routerLinkActive="active-link">Home</a></h3></li>
        <li nz-menu-item><h3><a style="color: #ffffff"[routerLink]="['/content']" routerLinkActive="active-link">Content</a></h3></li>
        <li nz-menu-item><h3><a style="color: #ffffff"[routerLink]="['/docs']" routerLinkActive="active-link">Docs</a></h3></li>
        <li nz-menu-item><h3><a style="color: #ffffff"[routerLink]="['/resources']" routerLinkActive="active-link">Resources</a></h3></li>
        <li nz-menu-item><h3><a style="color: #ffffff"[routerLink]="['/events']" routerLinkActive="active-link">Events</a></h3></li>
      </ul>
    </div>
  </div>
</nz-header>
