
<nz-header>
  <div nz-row class="font">
    <div nz-col nzSpan="1" class="logo"></div>
    <div nz-col nzSpan="7"><h1 style="color: #ffffff">Mi Samsung Shop</h1></div>
    <div nz-col nzSpan="auto">
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
<!--        <li nz-menu-item><h3><a style="color: #ffffff"[routerLink]="['/']" routerLinkActive="active-link">Home</a></h3></li>-->
<!--        <li nz-menu-item><h3><a style="color: #ffffff"[routerLink]="['/shopall']" routerLinkActive="active-link">Shop All</a></h3></li>-->
<!--        <li nz-menu-item><h3><a style="color: #ffffff"[routerLink]="['/xiaomi']" routerLinkActive="active-link">Xiaomi</a></h3></li>-->
<!--        <li nz-menu-item><h3><a style="color: #ffffff"[routerLink]="['/samsung']" routerLinkActive="active-link">Samsung</a></h3></li>-->
<!--        <li nz-menu-item><h3><a style="color: #ffffff"[routerLink]="['/contacto']" routerLinkActive="active-link">Contacto</a></h3></li>-->
        <li nz-menu-item><h3><a style="color: #ffffff"[routerLink]="['/admin/catalogo']" routerLinkActive="active-link">Catalogo</a></h3></li>
      </ul>
    </div>


  </div>
</nz-header>
